.backgroundColor {
    background-color: whitesmoke;
    color: black;
    width: 13vw;
    height: 6vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    cursor: pointer;
}
.contentCardAdd{
    text-align: center !important;
}
.formContainer{
    margin-top: 2vw;
    margin-left: 2vw;
}
.descriptionSize{
    resize: none !important;
}
.descriptionContainer{
    width: 43vw;
}
.buttonContainer{
    margin-top: 10px;
    margin-left: 80%;
}
.labelForm{
    font-weight: bolder;
}
.spaceBetween{
    margin-left:0;
    width: 40%;
    display: flex;
    justify-content: space-between
}