.background{
    background-color: whitesmoke;
    color: black;
    width: 15vw;
    height: 15vw;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.884);

    margin-right: 2vw ;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.titleStyle{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 2vw;

    width: 13vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contentCard{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.description {
    width: 13vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardsContainer{
    margin-right: 3vw;
}

.titleStyleDetails{
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 2vw;
}
.subtitleDetails{
    font-size: 18px;
    font-weight: bolder;
    margin-top: 2.5vw;
    margin-bottom: 1vw;

}
.grid_cards{
    margin-bottom: 3vw;
}
.alignButtons{
    margin-left: 1vw;
    width: 93%;
    display: flex;
    justify-content: space-between
}
.alignButtonsCards{
    margin-top: 3vw !important;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
